<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TO DO LIST</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer=""></script>
        <script src="assets/vue.js" defer></script>
        <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>

    <body>
        <div class="container">
            <!-- Title -->
            <h1>TO DO LIST</h1>

            <!-- Start App -->
            <div id="app">

                <!-- Add Tasks -->
                <div class="contain">
                    <label for="add-task">Aggiungi qualcosa da fare:</label>
                    <input 
                        type="text"
                        name="add-task"
                        placeholder="Nuovo task"
                        v-model="newTask"
                        @keyup.enter="addTask"
                    >
                    <button
                            @click="addTask"
                    >Aggiungi
                    </button>
                </div>
                

                <!-- To Do List -->
                <div class="contain">
                    <ul>
                        <li
                            v-for="(task, index) in taskArray"
                        >
                            <span>{{ task.text }}</span>
                        
                            <i class="fa-regular fa-circle-xmark"></i>
                        </li>
                    </ul>
                </div>               
            </div>
        </div>
    </body>
</html>